/* Главная страница */
/* Адаптив шапки под телефон */
@media (max-width: 680px) {
  header {
    padding: 5px 0 0 0;
    margin-bottom: 10px;
  }
  .head {
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .container {
    max-width: 355px;
    padding: 0 0 10px 0;
  }
  .logo_top {
    width: 70px;
    height: 27px;
    font-size: 11px;
    padding: 5px 5px 5px 4px;
  }
  nav ul {
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
  }
  nav a {
    font-size: 16px;
  }
  .active {
    font-size: 16px;
  }
  nav a:hover {
    font-size: 16px;
  }
  nav a:active {
    font-size: 16px;
  }
  .message {
    text-align: center;
    width: 200px;
    z-index: 1000;
    color: var(--primary);
    font-weight: bold;
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    top: 20px;
  }
  .line_header {
    height: 1px;
    max-width: 355px;
  }
}
/* Адаптив бургер меню */
@media (max-width: 680px) {
  .burger-menu {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 200px;
    height: 100vh;
    background: var(--dark);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
    transition: right 0.5s ease;
    z-index: 1000;
    overflow-y: auto;
  }

  .nav-menu.active {
    right: 0;
  }
  .nav-menu > ul {
    flex-direction: column;
    gap: 15px;
  }
}
/* Адаптивность главной секции под телефон*/
@media (max-width: 680px) {
  .top_grid {
    max-width: 355px;
    gap: 15px;
    height: 370px;
  }
  .top_glav_disp {
    justify-content: flex-start;
    height: 201px;
  }
  .top_perv_icons {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 768px;
    margin: auto;
    padding: 0;
  }

  .top_glav_disp h1 {
    font-size: 20px;
  }
  /* Иконки на главном экране */
  .top_perv_icons {
    display: grid;
    grid-template:
      29px 32px 18px 20px 19px 22px 25px 17px /
      64px 25px 9px 17px 5px 24px 18px 30px 23px 18px 49px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .top_img1 img {
    width: 130px;
  }
  .top_rec1 {
    border-radius: 3px;
    width: 18px;
    height: 18px;
  }
  .top_rec2 {
    border-radius: 6px;
    width: 32px;
    height: 32px;
  }
  .top_rec3 {
    border-radius: 6px;
    width: 49px;
    height: 49px;
  }
  .top_rec4 {
    border-radius: 6px;
    width: 25px;
    height: 25px;
  }
  .top_rec5 {
    border-radius: 6px;
    width: 17px;
    height: 17px;
  }
  .top_img2 img {
    width: 80px;
  }

  /* Текст */
  .top_glav_disp {
    height: 200px;
  }
  h1 {
    font-size: 22px;
    margin-bottom: 11px;
    max-width: 300px;
  }
  .top_glav_disp_p {
    font-size: 16px;
    max-width: 300px;
  }
  /* ---------------------- */
  /* Форма */
  .form1 {
    margin-top: 18px;
  }
  .form1 > input {
    border-radius: 25px 0 0 25px;
    padding: 0px 0px 0px 21px;
    width: 180px;
    height: 40px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.47);
    font-size: 12px;
  }
  .form1 input::placeholder {
    font-size: 12px;
  }
  .form1 > button {
    border-radius: 0 25px 25px 0;
    width: 131px;
    height: 40px;
    font-size: 10px;
  }
  #success_message {
    top: 365px;
    font-size: 12px;
  }
}
/* Адаптивность второй секции под телефон*/
@media (max-width: 680px) {
  .pochemy_mi {
    height: 340px;
    margin-top: 25px;
    padding: 10px 0;
  }
  .pochemy_mi p {
    font-size: 12px;
    max-width: 90px;
  }
  h2 {
    margin: 5px 0;
    font-size: 18px;
  }
  .cards_sec_poch {
    margin-top: 20px;
  }
  .card_sec_poch {
    padding: 10px 0;
    border-radius: 17px;
    width: 140px;
    height: 125px;
  }
  .card_sec_poch img {
    width: 50px;
  }
}
/* Адаптация секции 3 под телефон */
@media (max-width: 680px) {
  .priemysh_sec {
    padding-top: 20px;
  }
  .priemysh_sec h2 {
    margin: 0 0 30px;
  }
  .cards_sec3 {
    gap: 30px;
  }
  /* Текст на картах */
  .priemysh_sec h4 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .priemysh_sec p {
    font-size: 14px;
  }
  /* Карточки */
  /* Карта 1----------------- */
  .card1_sec3 {
    border: 1px solid #ff4c00;
    border-radius: 22px;
    width: 246px;
    height: 246px;
  }
  .line_card1_sec3 {
    border: 5px solid #ff4c00;
    border-radius: 19px;
    width: 237px;
    height: 237px;
    display: flex;
    padding: 15px 10px;
  }
  /* Эфект после нажатия */
  .card1_sec3.changed {
    height: 523px;
  }
  .card1_sec3.changed .line_card1_sec3 {
    height: 514px;
  }
  /* Карта 2----------------- */
  .card2_sec3 {
    border: 1px solid #ff4c00;
    border-radius: 22px;
    width: 246px;
    height: 246px;
  }
  .line_card2_sec3 {
    border: 5px solid #ff4c00;
    border-radius: 19px;
    width: 237px;
    height: 237px;
    display: flex;
    padding: 15px 10px;
  }
  /* Эфект после нажатия */
  .card2_sec3.changed2 {
    height: 523px;
  }
  .card2_sec3.changed2 .line_card2_sec3 {
    height: 514px;
  }
  /* Карта 3----------------- */
  .card3_sec3 {
    border: 1px solid #ff4c00;
    border-radius: 22px;
    width: 246px;
    height: 246px;
  }
  .line_card3_sec3 {
    border: 5px solid #ff4c00;
    border-radius: 19px;
    width: 237px;
    height: 237px;
    display: flex;
    padding: 15px 10px;
  }
  /* Эфект после нажатия */
  .card3_sec3.changed3 {
    height: 523px;
  }
  .card3_sec3.changed3 .line_card3_sec3 {
    height: 514px;
  }
  /* Карта 4----------------- */
  .card4_sec3 {
    border: 1px solid #ff4c00;
    border-radius: 22px;
    width: 246px;
    height: 246px;
  }
  .line_card4_sec3 {
    border: 5px solid #ff4c00;
    border-radius: 19px;
    width: 237px;
    height: 237px;
    display: flex;
    padding: 15px 10px;
  }
  /* Эфект после нажатия */
  .card4_sec3.changed4 {
    height: 523px;
  }
  .card4_sec3.changed4 .line_card4_sec3 {
    height: 514px;
  }
}
/* адаптация 4 секции */
@media (max-width: 680px) {
  .price {
    margin-top: 25px;
  }
  /* таблица */
  .table_bord {
    margin-top: 25px;
    padding: 5px 20px 0px 20px;
    font-size: 8px;
  }
  /* строки таблицы */
  .stroke_tabel {
    padding: 12px;
    border-bottom: 1px solid #ff4c00;
  }
  .stroke_tabel > div {
    width: 175px;
  }
  .stoke_last {
    border-bottom: none;
  }
}
/* адаптация подвала */
@media (max-width: 680px) {
  footer {
    margin-top: 15px;
    padding: 11px 0;
  }
  .foot {
    font-size: 8px;
  }
}
/* Адаптив кнопки слайдер */
@media (max-width: 680px) {
  #scrollToTopBtn svg {
    width: 50px;
    height: 50px;
  }
  #scrollToTopBtn {
    border-radius: 100%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10%;
    z-index: 1000;
    border: none;
    cursor: pointer;
    background: none;
  }
}
/* ------------------------------------------------------- */
/* Страница услуг */
/* ----------------------------------------------------- */
/* Адаптив для плиток в верху */
@media (max-width: 680px) {
  /* приточки в середине */
  .nashi_uslugi_top_decor_center {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  /* выравнивани плиток в центре */
  .grid_uslug_center1 {
    background-position: center;
    border: 3px solid #ff4c00;
    padding: 5px;
    border-radius: 16px 16px 87px 16px;
    width: 300px;
    height: 174px;
    font-size: 14px;
  }
  .grid_uslug_center2 {
    border: 3px solid #ff4c00;
    border-radius: 16px 16px 16px 87px;
    width: 300px;
    height: 174px;
    font-size: 14px;
    padding: 5px;
    background-position: center;
  }
  .grid_uslug_center3 {
    border: 3px solid #ff4c00;
    border-radius: 16px 87px 16px 16px;
    width: 300px;
    height: 174px;
    font-size: 14px;
    padding: 5px;
    background-position: center;
  }
  .grid_uslug_center4 {
    border: 3px solid #ff4c00;
    border-radius: 16px 16px 16px 87px;
    width: 300px;
    height: 174px;
    font-size: 14px;
    padding: 5px;
    background-position-x: right;
    background-position-y: bottom;
  }
}
/* ------------------------------------------------------- */
/* Страница о нас */
/* ----------------------------------------------------- */
/* Адаптив для плиток в верху */
@media (max-width: 680px) {
  .o_nas_info0 {
    padding: 20px 10px;
  }
  /* Секция 1 */
  .sec_o_nas1 {
    background: linear-gradient(270deg, rgba(38, 38, 38, 0) 0%, #262626 82.05%),
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #262626 100%),
      url(./img/o_nas_bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .o_nas_info1 {
    max-width: 300px;
    height: 450px;
  }
  .o_nas_div1 h3 {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 25px;
  }
  .o_nas_div1 p {
    font-size: 14px;
  }
  .o_nas_decor img {
    margin-top: 20px;
    width: 50px;
  }
  .o_nas_decor2 img {
    width: 50px;
  }
  /* Секция 2 */

  .sec_o_nas2 {
    background: linear-gradient(90deg, rgba(38, 38, 38, 0) 0%, #262626 85.05%),
      linear-gradient(0deg, rgba(38, 38, 38, 0) 0%, #262626 100%),
      linear-gradient(27deg, rgba(38, 38, 38, 0) 0%, #262626 78.85%),
      url("./img/o_nas_bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .o_nas_div2 {
    display: flex;
    align-items: start;
    justify-content: start;
  }
  .o_nas_div2 h3 {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary);
    margin-bottom: 55px;
  }
  .o_nas_div2 p {
    font-size: 14px;
  }
}

/* ------------------------------------------------------- */
/* Страница отзывы */
/* ----------------------------------------------------- */
/* Адаптив первой секции */
@media (max-width: 680px) {
  /* Слайдер */
  .slider {
    max-width: 390px;
    margin-bottom: 70px;
  }
  .slick-slide {
    padding: 0 20px;
  }
  /* карта с отзывом */
  .card_otziv {
    margin: 0 30px;
    border-radius: 17px;
    max-width: 355px;
    max-height: 470px;
    padding: 20px;
    gap: 17px;
    flex-direction: column !important;
    box-shadow: 0 0 12px -3px var(--dark);
  }

  /* левая честь отзыва */
  /* картинка */
  .img_on_otziv {
    width: 130px;
    height: 110px;
  }

  .img_on_otziv img {
    width: 130px;
    height: 110px;
  }

  /* Правая часть отзыва */
  .card_right_part {
    gap: 5px;
  }
  /* Звезды */
  .stars {
    display: flex;
    gap: 4px;
  }
  .star svg {
    width: 15px;
  }
  /* Клиент */
  .FIO_client {
    font-size: 16px;
  }
  /* Сам отзыв */
  .otziv_clienta_txt {
    font-size: 14px;
    color: #fff;
  }
  /* Стрелочки */
  .strengles {
    display: none;
  }
  .strengles_t {
    display: block;
    display: flex;
    gap: 10px;
    margin-bottom: 0;
    position: absolute;
    top: 577px;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  .strengles_t,
  button {
    width: 48px;
    height: 51px;
  }
}

/* ----------------------------------------------------- */
/* Страница "Контакты" */
/* --------------------------------------------------------- */
/* Секция 1 */
/* Карта на фоне */
@media (max-width: 680px) {
  .map {
    width: 100%;
    height: 100%;
  }
  .bottom_map {
    max-height: 680px;
  }
  /* Оформление для Заголовка */
  .map_site h2 {
    top: 70px;
  }
  /* Карточка с контактами */
  .kontakti {
    border-radius: 17px;
    width: 250px;
    height: 145px;
    font-size: 14px;
    gap: 25px;
    padding: 20px 0 0 25px;
    top: 220px;
    left: 40%;
  }

  /* Информация сeкция 2*/
  .uslug_center1 {
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-bottom: 15px;
    justify-content: center;
  }
  .info_center1 {
    gap: 18px;
  }
  .info_center1_txt {
    max-width: 300px;
    margin: auto;
  }
  .info_center1_txt h3 {
    font-size: 16px;
  }
  .info_center1_txt p {
    font-size: 10px;
  }
  .info_center1_img {
    width: 223px;
    height: 168px;
    margin: auto;
  }
  .info_center1_img img {
    width: 223px;
    height: 168px;
    left: 15px;
    top: 15px;
  }
  /* Информация сeкция 3*/
  .uslug_center2 {
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-bottom: 15px;
    justify-content: center;
  }
  .info_center2 {
    gap: 18px;
  }
  .info_center2_txt {
    max-width: 300px;
    margin: auto;
  }
  .info_center2_txt h3 {
    margin-top: 20px;
    font-size: 16px;
  }
  .info_center2_txt p {
    font-size: 10px;
  }
  .info_center2_img {
    width: 223px;
    height: 168px;
    margin: auto;
  }
  .info_center2_img img {
    width: 223px;
    height: 168px;
    left: 15px;
    top: 15px;
  }
  /* Информация сeкция 4*/
  .uslug_center3 {
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-bottom: 15px;
    justify-content: center;
  }
  .info_center3 {
    gap: 18px;
  }
  .info_center3_txt {
    max-width: 300px;
    margin: auto;
  }
  .info_center3_txt h3 {
    font-size: 16px;
  }
  .info_center3_txt p {
    font-size: 10px;
  }
  .info_center3_img {
    width: 223px;
    height: 168px;
    margin: auto;
  }
  .info_center3_img img {
    width: 223px;
    height: 168px;
    left: 15px;
    top: 15px;
  }
  /* Информация сeкция 5*/
  .uslug_center4 {
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-bottom: 15px;
    justify-content: center;
  }
  .info_center4 {
    gap: 18px;
  }
  .info_center4_txt {
    max-width: 300px;
    margin: auto;
  }
  .info_center4_txt h3 {
    margin-top: 20px;
    font-size: 16px;
  }
  .info_center4_txt p {
    font-size: 10px;
  }
  .info_center4_img {
    width: 223px;
    height: 168px;
    margin: auto;
  }
  .info_center4_img img {
    width: 223px;
    height: 168px;
    left: 15px;
    top: 15px;
  }
}
